useDynLib(scKWARN, .registration=TRUE)
export(LocASN)
import(Matrix)
import(Rcpp)
importFrom(methods,as)
importFrom(methods,is)
importFrom(stats,bw.SJ)
importFrom(stats,bw.nrd0)
importFrom(stats,density)
importFrom(stats,median)
importFrom(stats,prcomp)
importFrom(stats,quantile)
importFrom(stats,sd)
