useDynLib(scKWARN, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(LocASN)
import(Matrix)
importFrom(methods,as)
importFrom(stats,density)
importFrom(stats,median)
importFrom(stats,prcomp)
importFrom(stats,quantile)
importFrom(stats,sd)
